body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg--primary-color {
  background-color: #d7dbdd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rajdhani", sans-serif;
  color: #373434;
  line-height: 1.25;
  font-weight: 700;
}

.section-header__subtitle {
  font-size: calc(1.275rem + 0.3vw);
  text-transform: capitalize;
  font-weight: 600;
  color: #16579c;
  font-family: "Rajdhani", sans-serif;
}
h4 {
  color: #16579c;
}
.work__item-content p {
  max-inline-size: 35ch;
  margin-inline: auto;
  color: gray;
}

header.header-section {
  z-index: 99;
  background: #feffff;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 100px;
  background-color: #f5f9fc;
}

.menu > li > a {
  font-size: 1.10rem;
  color: #1e1c1c;
  font-weight: 600;
  padding: 15px 10px;
  
  text-transform: uppercase;
}

.header-bar.d-lg-none > span {
  /* color: green !important; */
  background-color:  #1e1c1c;;
}

.header-wrapper .menu-area .wallet-btn {
  width: auto;
  height: auto;
  background-color: #16589e;
  color: #f7f8f9;
  display: inherit;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}

.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 5px;
}

.default-btn {
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
  -ms-transform: skew(-5deg);
  -o-transform: skew(-5deg);
  transform: skew(-5deg);
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: #f2e5e5;
  padding-inline: 1.25rem;
  line-height: 40px;
  transform-origin: right;
  transition: all 0.3s ease;
  background: #16579c;
  border: 1px solid transparent;
  font-weight: 600;
}
.work__item:hover .work__item-content h4 {
  color: #373434;
}
a.default-btn:hover {
  color: #16579c;
  border-color: #16579c;
}

.banner__content p {
  font-size: 1.125rem;
  color: #373434;
  max-inline-size: 50ch;
}

section.project.padding-bottom.project--completed2 {
  color: #C1C7CB;
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Roboto", sans-serif;
  background-color: #f5f9fc;
}

.project__item2 {
  background-color: #d7dbdd;
  border-radius: 5px;
  border: 1px solid transparent;
}
.project__item2-content h4 a {
  color: #373434;
}
.project__item2:hover .project__item2-content h4 a {
  color: #16579b;
}

.project__item2-time {
  text-transform: capitalize;
  color: #373434;
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #373434;
}
.work__item-content p {
  max-inline-size: 35ch;
  margin-inline: auto;
  color: #373434;
}
.project__item-amount .progress .progress-bar {
  background-color: #16579c;
}

.color--theme-color {
  color: #16579c !important;
  font-weight: 700;
}

body {
  color: #C1C7CB;
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Roboto", sans-serif;
  background-color: #d7dbdd;
}


.roadmap__wrapper2:after {
    position: absolute;
    content: "";
    height: 50%;
    width: 10px;
    background-color: #185ca3;
    border-radius: 2px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.roadmap__item2-header p {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  color: #185ca2;
}

.social__link:hover {
  background-color: #16569d;
  color: #02121D;
}
.roadmap__item2 {
  background-color: #f5f9fc;
  border-radius: 4px;
}
.roadmap__item2:hover .roadmap__item2-header h4, .roadmap__item2:hover .roadmap__item2-header p {
  color: #373434;
}