body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  background-color: #16589f;;
}
h2.mb-4 {
  text-align: center;
  margin-top: 30px;
  color: #16589f;
}
p.firstHeading {
  color: #16589f;
  font-size: 18px;
  font-weight: 500;
  
}

.bioButton{

}
p.secondPara {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #16589f;
    font-size: 16px;
    line-height: unset;
    text-align: justify;
    letter-spacing: 0.2px;
    font-weight: 400;
}
a.bioButton {
  background: #175ba3;
  color: white;
  padding: 2px 8px;
  border-radius: 3px;
  cursor: pointer;
}
.BioText {
  width: 95%;
  margin: auto;
  
  background-color: white;
  padding-bottom: 20px;
  margin-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.project__item-amount h6 {
  font-weight: 600;
  color: #373434;
}

.bg--primary-color {
  background-color: #145096;
}

.roadmap__item2-header h4 {
 
  color: #145096;
}
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 100px;
  background-color: #145096;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Rajdhani", sans-serif;
  color: #373434;
  line-height: 1.25;
  font-weight: 700;
}

.section-header__subtitle {
  font-size: calc(1.275rem + 0.3vw);
  text-transform: capitalize;
  font-weight: 600;
  color: #16579c;
  font-family: "Rajdhani", sans-serif;
}
h4 {
  color: #16579c;
}
.work__item-content p {
  max-inline-size: 35ch;
  margin-inline: auto;
  color: gray;
}

header.header-section {
  z-index: 99;
  background: #feffff;
}

.team__item:hover .team__content h4 a {
  color: #165aa1;
}
.team__content h4 a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1e1c1c;
}

.default-btn:hover {
  color: #ffffff;
  transform: translateY(-3px);
  background: transparent;
  
  box-shadow: 0 0 10px rgb(255 255 255);
}
a.default-btn:hover {
  color: #feffff;
  border-color: #feffff;
}

.section-header__subtitle {
  font-size: calc(1.275rem + 0.3vw);
  text-transform: capitalize;
  font-weight: 600;
  color: #feffff;
  font-family: "Rajdhani", sans-serif;
}


button.default-btn {
  background-color: white;
  color: #16579e;
}
section.team.padding-top.padding-bottom.shape-1r {
  background-color: #175ba3;
}
.team__content {
  background-color: #feffff;
}
.menu > li > a {
  font-size: 1.10rem;
  color: #1e1c1c;
  font-weight: 600;
  padding: 15px 10px;
  
  text-transform: uppercase;
}

.header-bar.d-lg-none > span {
  /* color: green !important; */
  background-color:  #1e1c1c;;
}

.header-wrapper .menu-area .wallet-btn {
  width: auto;
  height: auto;
  background-color: #16589e;
  color: #f7f8f9;
  display: inherit;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}

.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 5px;
}

section.project.padding-bottom.project--completed2 {
  color: #C1C7CB;
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Roboto", sans-serif;
  background-color: #145096;
}
.default-btn {
  font-size: 1rem;
  border-radius: 5px;
  transform: skew(-5deg);
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: #145096;
  padding-inline: 1.25rem;
  line-height: 40px;
  transform-origin: right;
  transition: all 0.3s ease;
  background: #feffff;
  border: 1px solid transparent;
  font-weight: 600;
}
.work__item:hover .work__item-content h4 {
  color: #373434;
}
a.default-btn:hover {
  color: white;
  border-color: #16579c;
}

.banner__content p {
  font-size: 1.125rem;
  color: #e3e1e1;
  max-inline-size: 50ch;
}
section#roadmap {
  background-color: #145096;
}

.authors {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.06));
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin: 30px 0;
  background: #f9fafa;
}
.comments {
  background: #f9fafa;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.06));
}
.widget .widget__header:after {
  height: 1px;
  background-image: linear-gradient(260deg, rgba(0, 0, 0, 0) 30%, #16589e 100%);
  left: 0;
  bottom: 0;
}
.widget.widget-category .widget-wrapper li a:hover span:last-child {
  color: #16589e;
}

.widget.widget-post ul.widget-wrapper li .post-content p, .widget.recent-product ul.widget-wrapper li .post-content p {
  font-size: 0.875rem;
  margin: 0;
  color: #16589e;
}
.widget-wrapper li a:hover {
  padding-left: 35px;
  color: #16589e;
}
.widget.widget-category .widget-wrapper li a span:last-child {
  color: #373434;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.post-content.pt-0 h3 {
  color: #16579e;
}
.blog.padding-top.padding-bottom {
  background-color: #16579e;
}

button.default-btn {
  background-color: #16579e;
  color: white;
}
.default-btn:hover {
  color: #16579e;
  transform: translateY(-3px);
  background: transparent;
  box-shadow: 0 0 10px rgb(22 87 158);
}

p.phargraph {
  text-align: justify;
  color: #373434;
}
section.cta.padding-bottom {
  background-color: #145096;
}
.cta__wrapper {
  margin: auto;
  background-color: #f5f9fc;
  border-radius: 15px;
  padding-inline: 15px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-left: 3px solid #f5f9fc;
  border-right: 3px solid #f5f9fc;
  padding-block: 50px;
}

.project__item2-content h4 {
  color: #145096;
}


p#HighRisk {
  color: #145096;
}

.cta__content h2, .widget.widget-brochure .widget-brochure__thumb, .pro-details__desc-content section h4 {
  margin-bottom: 25px;
  color: #145096;
}
.widget.widget-post ul.widget-wrapper li .post-content h6:hover, .widget.recent-product ul.widget-wrapper li .post-content h6:hover {
  color: #16579e;
}
.widget.widget-post ul.widget-wrapper li .post-content h6, .widget.recent-product ul.widget-wrapper li .post-content h6 {
  font-size: 1.125rem;
  line-height: 1.3;
  margin-bottom: 2px;
  font-weight: 600;
  color: #312e2e;
}
.contact .form .default-btn:hover {
  border: none;
  color: #16579e;
  box-shadow: 0 0 10px rgb(249, 250, 250);
}
.contact .form .default-btn {
  border: none;
  background-color: white;
  color: #2b2a2a;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Rajdhani", sans-serif;
  color: #feffff;
  line-height: 1.25;
  font-weight: 700;
}
.contact {
  background-color: #16579e;
}
.widget.widget-category .widget-wrapper li a.active, .widget.widget-category .widget-wrapper li a:hover {
  padding-left: 35px;
  color: #16589e;
} 
.widget.widget-category .widget-wrapper li a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.125rem;
  color: #373434;
  font-family: "Rajdhani", sans-serif;
  padding: 20px 30px;
}
 .widget-wrapper li a:hover {
  padding-left: 35px;
  color: #16589e;
}
.widget.widget-tags ul.widget-wrapper li a.active, .widget.widget-tags ul.widget-wrapper li a:hover {
  background-color: #16589e;
  color: #f9fafa;
  border-color: #d7dbdd;
}
element.style {
 
  width: 5%;
}
.tags li a:hover, .tags li a.active {
  background: #16589e;
  color: #f9fafa;
}
.single-quote {
  background: #d6dadc;
  color: #595757;
  border-left: 4px solid #d7dbdd;
  border-radius: 5px;
}
.comments .comment-title:after {
  height: 1px;
  background-image: linear-gradient(260deg, rgba(0, 0, 0, 0) 30%, #16579c 100%);
  left: 0;
  bottom: 0;
}
.article-pagination .prev-article a, .article-pagination .next-article a {
  font-size: 1.25rem;
  color: #16579c;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}

.comment-respond {
  background: #f9fafa;
}

.widget.widget-search .widget-search-inner .search-icon {
  background-color: #16589e;
  color: #fdfefe;
  padding-inline: 1rem;
  border-color: transparent;
}
.widget {
  background-color: #f9fafa;
  margin-bottom: 40px;
}
.post-item-2 {
  background: #f9fafa;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.06));
}
.widget .widget__header {
  background-color: #fdfefe;
}
.widget.widget-search .widget-search-inner {
  background-color: #feffff;
  padding: 30px;
}

.project__item2 {
  background-color: #d7dbdd;
  border-radius: 5px;
  border: 1px solid transparent;
}
.project__item2-content h4 a {
  color: #373434;
}
.project__item2:hover .project__item2-content h4 a {
  color: #16579b;
}

.project__item2-time {
  text-transform: capitalize;
  color: #373434;
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #373434;
}
.work__item-content p {
  max-inline-size: 35ch;
  margin-inline: auto;
  color: #e3e1e1;;
}
.project__item-amount .progress .progress-bar {
  background-color: #16579c;
}

.color--theme-color {
  color: #16579c !important;
  font-weight: 700;
}


body {
  color: #C1C7CB;
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Roboto", sans-serif;
  background-color: #d7dbdd;
}
.work__item:hover .work__item-content h4 {
  color: #feffff;
}
.progress-bar {
  width: 15%;
}
.roadmap__wrapper2:after {
    position: absolute;
    content: "";
    height: 50%;
    width: 10px;
    background-color: #185ca3;
    border-radius: 2px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.roadmap__item2-header p {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  color: #185ca2;
}

.social__link:hover {
  background-color: #16569d;
  color: #02121D;
}
.roadmap__item2 {
  background-color: #f5f9fc;
  border-radius: 4px;
}
.roadmap__item2:hover .roadmap__item2-header h4, .roadmap__item2:hover .roadmap__item2-header p {
  color: #185ca2;;
}

.pdfDiv{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: lightblue;
  border-radius: 0px 70px 0px 0px;
  background-color: #16579e;
}


@media only screen and (max-width: 600px) {
 
  .pdfDiv{
    position: relative;
    display: flex;


    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: auto;
    background-color: lightblue;
    border-radius: 0px 70px 0px 0px;
    background-color: #16579e;
  }
  .menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    max-height: 400px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: top;
    background: #16579e;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* color: white; */
}

.Bio_container{
  width: 80%;
  margin: auto;
  background: #15549b;
}
.widget__header > h5 {
  color: #16589e;
}
.menu li a:hover {
  background: rgb(14 72 133);
}

.menu > li > a {
  font-size: 1.10rem;
  color: #feffff;
  font-weight: 600;
  padding: 15px 10px;
  text-transform: uppercase;
}
  .whitePaper{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 200px !important;
    background-color: #0f4e92!important;
   
    
    
  }
  .auditClass{
    display: flex;
    flex-direction: column;
   margin-top: 20px;
   background-color: #0f4e92 !important;
   border-radius: 0px 70px 0px 0px !important;
   height: 200px !important;
    }
  
  }
.textstyle{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  
}
.pdfIcon_stack{
  width: 30%;
  
}
.pdfIcon_audit{
  width: 25%;
  
 
}
.textDiv{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.textDivAudit{
  display: flex;
  justify-content: space-between;
 
}
.textDivAudit  > p{
  font-size: 14px;
  color: rgb(218, 215, 215);
  margin-left: 20px;
  
  text-justify: auto;
}
.auditClass{
display: flex;
flex-direction: column;
}

.bioclass{
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
}

.aduitbox {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.topHeading{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.topHeading > p{
  color: white
}
.textDiv > p {
  font-size: 14px;
  color: rgb(218, 215, 215);
  
  text-justify: auto;
  
}

.Content{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  background-color: #0f4e92;
  
  
  
}
.content1{
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content1.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.item{
  
    background-color: rgb(22 87 158);

}
section#faq {
  background: #0f4e92;
  
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  border-bottom: 1px solid white;
  margin-top: 5px;
  cursor: pointer;
  padding: 15px 15px;
  
}
.title > span{
  background-color: #0f4e92;
  
  padding: 0px 6px;
  border-radius: 5px;
  color: #fffcfc;
  font-weight: 600;
}
.faqParagraph{
  margin: 0px 20px;
  margin-top: 5px;
  font-size: 15px;
  color: rgb(219, 218, 218);
}
.pdfBox{
  display: flex;
  padding: 5px 5px;
  height: 40px;
  align-items: center;
  gap: 20px;
  border: 2px solid white;
  border-radius: 9px;

}
.pdfBox > h6 {
  margin-top: 15px;
  cursor: pointer;
}
.pdfIcon_image{
height: 25px;
cursor: pointer;


}
.whitePaper{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 200px;
  background-color: #0f4e92;
  border-radius: 0px 70px 0px 0px;
  margin-top: 100px;
}
 /* buy token style section start hrere .. */
 .stacking.padding-top.padding-bottom {
  background-color: #145096;
}
.firstDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.HeadingDiv > p {
  color: rgb(245, 244, 243);
  font-size: 14px;
  margin-top: 15px;
}
 .main{
  display: flex;
  justify-content: space-between;
  margin: auto;
 }
 .leftDIV{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  

 }
 .swap{
 border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 380px;
  padding: 5px 20px;
  background-color: #0c3c7c;
  align-items: center;
  
 }
 .imagediv > h6{
  margin-top: 19px;
  margin-left: 5px;
 }
 .swap > button {
  border: none;
  background-color: white;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  padding: 15px;
  color: #0c3c7c;;
 }
 .availableHeading{
  display: flex;
  justify-content: end;
  margin-right: 15px;
 
 }
 .secondInputDiv{
  display: flex;
  justify-content: space-evenly;
  position: relative;
 }
 .secondInputDiv > button {
  position: absolute;
  right: 0;
  margin-right: 20px;
  border: none;
  margin-top: 10px;
  padding:  5px 15px;
  border-radius: 15px;
  background-color: white;
  color: #0c3c7c;

 }
 .Btn_collection{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 20px;
  
  
 }
 .Btn_collection1{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  padding-bottom: 20px;
  
  
 }
 .Btn_collection1 > button{
 
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    background-color: white;
    color: #145096; 
 }
 .Btn_collection > button{
  border: none;
    border-radius: 5px;
    padding: 5px 12px;
    background-color: white;
    color: #145096; 

  
  
 }
 .listDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  border-bottom: 1px solid black;
  padding-bottom: 20px;
 }
 .listDiv > span{
  margin-top: 20px;
  margin-right: 25px;
  color: #585858;
  

 }

 .listImgDiv{
  margin-left: 25px;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
 }
 .listImgDiv > span{
  color: #585858;
 }
 .blogImageIcon{
  width: 10%;
 }
 .secondInputDiv  > input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 60px;
 }
 .secondInputDiv > input {
  width: 350px;
  background: #145096;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
 .BNB_logo{
  position: absolute;
  left: 0;
  width: 10%;
  margin-top: 5px;
  margin-left: 30px;
 }
 .instaimage{
  width: 40%;
  margin-left: 20px;
  height: 120px;
  margin-top: 20px;
  

  
 }
 .My_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.myclass {
  display: flex;
  flex-direction: column;
  width: auto;
  
}
 .instaDiv{
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: end;
 }
 .bottomtext{
  text-align: center;
  color: rgb(243, 238, 238);
  font-weight: 400;
  font-size: 14px;
 }
 .secondInputDiv > input {
  width: 350px;
 }
 .availableHeading >p{
  color: white;
  margin-top: 10px;
  font-weight: 600;
 }
 .inputDIV{
  display: flex;
  flex-direction: column;
  background-color: #0c3c7c;
  width: 380px;
  border-radius: 20px;
  margin-top: 20px;
 }
 .inputDiv  > p{
   text-align: end;
   color: white;
 }
 .downloadImage{
  width: 25%;
 }
 .imagediv{
  display: flex;
  gap: 20px;
 }
 .inputDiv{
  display: flex;
 }


 .BtnDiv{
  display: flex;
  gap: 20px;
  margin-top: 25px;
  
 }
 .stakeBtn{
  width: 300px;
  border: none;
  padding: 7px;
  margin-top: 25px;
  border: 3px solid;
  border-image: linear-gradient(45deg,#2667d0,#79e5f4) 1;
  background-color:white;
  font-size: 16px;
  color: #0f4e92
 }
 button.stakeBtn > a {
  color: #145096;
}
 .stakeBtn:hover{
  transform: scale(1.1);
  transition: .9s;
 }
 
 @media (max-width: 991px){
  .menu.active {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #16579e;
    color: white;
}
.pdfDiv{
  position: relative;
  display: flex;


  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  height: auto;
  background-color: lightblue;
  border-radius: 0px 70px 0px 0px;
  background-color: #16579e;
}

.whitePaper{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 200px !important;
  background-color: #0f4e92!important;
 
  
  
}
.auditClass{
  display: flex;
  flex-direction: column;
 margin-top: 20px;
 background-color: #0f4e92 !important;
 border-radius: 0px 70px 0px 0px !important;
 height: 200px !important;
  }

.menu li a:hover {
  background: rgb(14 72 133);
  color: white;
}
.main{
  display: flex;
  flex-direction: column;
}

.leftmainDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}
.swap{
  
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    background-color: #0c3c7c;
    align-items: center;

}
.menu > li > a {
  font-size: 1.10rem;
  color: #feffff;
  font-weight: 600;
  padding: 15px 10px;
  text-transform: uppercase;
}

.menu > li > a:hover {
  font-size: 1.10rem;
  
  font-weight: 600;
  padding: 15px 10px;
  text-transform: uppercase;
}

.BNB_logo {
  position: absolute;
  left: 0;
  width: 25px;
  margin-top: 10px;
  margin-left: 30px;
}
.secondInputDiv > input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 60px;
  width: 95%;
}
.inputDIV {
  display: flex;
  flex-direction: column;
  background-color: #0c3c7c;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
}
.leftDIV{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

 }
 
 .Bridge{
  width: 200px;
  border: none;
  padding: 7px;
  font-size: 15px;
  background-color: #0f4e92;
  color: white;
  border: 3px solid;
  border-image: linear-gradient(45deg,#2667d0,#79e5f4) 1;

 }
 .Bridge:hover{
  transform: scale(1.1);
  transition: .9s;
}
 
 .metaBtn{
width: 170px;
border: none;
padding: 7px;
border: 3px solid;
border-image: linear-gradient(45deg,#2667d0,#79e5f4) 1;
background-color: #0f4e92;
  color: white;
 }
 .metaBtn:hover{
  transform: scale(1.1);
  transition: .9s;
 }
 
 @media only screen and (max-width: 600px) {
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secondInputDiv > button {
    position: absolute;
    right: 0;
    margin-right: 12px;
    border: none;
    margin-top: 10px;
    padding:  6px 10px;
    border-radius: 15px;
    background-color: white;
    color: #0c3c7c;
    
  
   }

  .secondInputDiv{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 100%;
   }
   .secondInputDiv > input{
    
    width: 95%;
   }
  .firstDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   }
    
   .BNB_logo{
    position: absolute;
    left: 0;
    width: 8%;
    margin-top: 5px;
    margin-left: 10px;
    
   }

   .swap{
    border-radius: 20px;
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 5px 20px;
     background-color: #0c3c7c;
     align-items: center;
     
    }
   .inputDIV{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0c3c7c;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
   }
   .HeadingDiv{
    width: 100%
    
    
   }
   .stakeBtn{
    width: 95%;
    border: none;
    padding: 7px;
    margin-top: 25px;
    border: 3px solid;
    border-image: linear-gradient(45deg,#2667d0,#79e5f4) 1;
    background-color:white;
    font-size: 16px;
    color: #0f4e92
   }
  .leftDIV{
    margin-top: 30px;
    width: 95%;
    display: flex;
  
    
    
  }
  .leftmainDiv{
    width: 95%;
  }
  .team__wrapper {
    margin-top: 200px;
}
  .banner__thumb {
    margin-top: 267px;
}
  .roadmap__wrapper2:after {
    
    border-radius: 2px;
    content: "";
    height: 50%;
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 10px;
    display: none;
}
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
  .secondInputDiv > button {
    position: absolute;
    right: 0;
    margin-right: 12px;
    border: none;
    margin-top: 10px;
    padding:  6px 10px;
    border-radius: 15px;
    background-color: white;
    color: #0c3c7c;
    
  
   }
   .secondInputDiv > input{
    width: 95%;
   }
   

  .secondInputDiv{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 100%;
   }
  .firstDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   }
  
   .BNB_logo{
    position: absolute;
    left: 0;
    width: 8%;
    margin-top: 8px;
    margin-left: 20px;
   }
  
   .secondInputDiv > button {
    position: absolute;
    right: 0;
    margin-right: 20px;
    border: none;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
    color: #0c3c7c;
}
   .swap{
    border-radius: 20px;
     display: flex;
     justify-content: space-between;
     width: 100%;
     
     background-color: #0c3c7c;
     align-items: center;
     
    }
   .inputDIV{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0c3c7c;
    
    border-radius: 20px;
    margin-top: 20px;
   }
   .HeadingDiv{
    width: 100%
    
    
   }
   .stakeBtn{
    width: 95%;
    border: none;
    padding: 7px;
    margin-top: 25px;
    border: 3px solid;
    border-image: linear-gradient(45deg,#2667d0,#79e5f4) 1;
    background-color:white;
    font-size: 16px;
    color: #0f4e92
   }
  .leftDIV{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
 }